.container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: block;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.play {
  text-align: center;
  height: 110px;
  width: 200px;
  background-color: white;
  margin: 30px auto;
  font-family: "lobster", cursive;
  text-shadow: 5px 0 #232931;
  color: #4ecca3;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  border-radius: 15%;
  border: #232931 solid 5px;
}
